/* Eclipse */
@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  width: 10px !important;
  height: 10px !important;
  z-index: 100;
  top: 20%;
  position: absolute;
  left: calc(50% - 100px);
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 1.9s linear infinite;
  animation: lds-eclipse 1.9s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #a8a7a7;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}
.lds-eclipse {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/* Custom CSS */
#TopPatterns {
  padding:50px 0;
  background: linear-gradient(85deg, #2a2c33, #494c56) !important;
}
#TopPatterns p {
  font-size:12px;
  color: #fff;
  opacity: 0.6;
}
pre {padding:10px;border-radius: 3px;}
pre code {border:0;font-size:12px;}
.hljs{display:block;overflow-x:auto;padding:0.5em;color:#333;background:#E4EAEC}
.hljs-comment,.hljs-quote{color:#998;font-style:italic}
.hljs-keyword,.hljs-selector-tag,.hljs-subst{color:#333;font-weight:bold}
.hljs-number,.hljs-literal,.hljs-variable,.hljs-template-variable,.hljs-tag .hljs-attr{color:#008080}
.hljs-string,.hljs-doctag{color:#d14}
.hljs-title,.hljs-section,.hljs-selector-id{color:#900;font-weight:bold}
.hljs-subst{font-weight:normal}
.hljs-type,.hljs-class .hljs-title{color:#458;font-weight:bold}
.hljs-tag,.hljs-name,.hljs-attribute{color:#000080;font-weight:normal}
.hljs-regexp,.hljs-link{color:#009926}
.hljs-symbol,.hljs-bullet{color:#990073}
.hljs-built_in,.hljs-builtin-name{color:#0086b3}
.hljs-meta{color:#999;}
.hljs-deletion{background:#fdd;}
.hljs-addition{background:#dfd;}
.hljs-emphasis{font-style:italic;}
.hljs-strong{font-weight:bold;}


#Patterns .nav-link {color:#fff;opacity: 0.5; background: none;border-bottom:3px solid transparent;}
#Patterns .nav-link:hover {border-bottom:3px solid  #fff; opacity: 1;}
#Patterns .navbar img {height:40px;}
#Patterns .navbar a img:hover {text-decoration: none; opacity: 0.7;}
#Patterns .navbar {box-shadow:none !important;}
#Patterns .navbar .border-left {border-left:1px solid rgba(255, 255, 255, 0.2);}


.cd-item {
  width: 100%;
  text-align: center;
  margin-top:50px;
}
.cd-item a {
  display: block;
  background: #fff;
  border-radius: 2px;
  padding: 50px 15px 40px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.cd-item a:hover {
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-nav {flex-direction: inherit;}
.navbar-nav .nav-link {padding:18px 8px;line-height: 34px;}
#navbarHeader .navbar-nav {flex-direction: column;}
#navbarHeader p {color:#fff; opacity: 0.7;}
#navbarHeader a:hover {opacity: 1; text-decoration:none;}

.preview {
  width: 185px;
  display: inline-block;
  margin: 0 -2px;
  background: #fff;
}
.preview .inner {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 50px 10px 10px;
}
.preview .label {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px 15px;
  font-size: 10px;
  font-family: Monaco, monospace;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.navbar ul li a:focus, .navbar ul li a:active {
  background: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1200px) {
  .navbar-nav .nav-link {padding:0 15px;}
}
@media (max-width: 991px) {
  #Patterns .ml-auto {margin: auto!important;}
}

#sidebar-patterns.sidebar.sidebar-nav ul ul {
  border-left: 3px solid transparent;
}
#sidebar-patterns.sidebar.sidebar-nav ul ul li a span {
  margin-left: 35px;
}

#sidebar-patterns.sidebar-small.sidebar-nav ul ul li a {
  line-height: 20px !important;
  font-size: 10px;
}
#sidebar-patterns.sidebar.sidebar-nav ul li.opened > a {
  border-left: 3px solid transparent;
}
#sidebar-patterns.sidebar.sidebar-nav ul li {
  padding: 0;
  list-style: none;
  line-height: 35px;
}
#sidebar-patterns.sidebar-small.sidebar-nav ul li a i {
  font-size: 16px;
  line-height: 35px;
}
ul.list-border li {
  padding: 5px 20px;
  list-style: none;
  font-size: 11px;
}

.logo-ux-white {
  background: url(../images/logo-white.png) no-repeat center;
  background-size: auto 100%;
}

.color-title, .color-text{
  color:#fff !important;
}

.menu-user .dropdown-menu{
  background: rgb(80, 80, 80);
}

.menu-user .dropdown-menu li.list-user a:hover{
  background: rgb(100, 100, 100);
}

.menu-user .dropdown-menu li.list-user .btn-action button{
  width: 50%;
  padding-top:10px;
}

.navbar-nav .nav-link{
  padding: 18px 20px;
}

.row{
  justify-content: space-between;
  flex-wrap:wrap-reverse;
  width:100%;
  margin: 30px auto;
}

.navbar .dropdown .dropdown-toggle::after {
  display: none !important;
}

@media screen and (max-width: 991px) {
  nav{
    border-bottom: 0 solid !important;
  }

  .container {

    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;

  }

}

.container {
  max-width:90% !important
}


.card-term .card-title{
  text-align:left;
}

.card-term{
  width:90%;
  margin: 0 auto;
}


.label{
  color:#333;
}

.defs h4{
  padding-top: 0;
  padding-left: 25px;
}

.defs p{
  font-size:15px;
  text-align:justify;

}



.infos span{
  font-size: 12px;
}

.menu-user{
  width:220px;
}


hr{
  margin-top:25px;
  margin-bottom:15px;
  padding:0;
  border:0;
}

.synonyms{
  background-color: #EFF7F4 !important;
}

.antonyms{
  background-color: #F7EFF2 !important;
}

.related {
  background-color: #F7F6EF !important;
}

.container {
  min-width: 431px;
}

.card-result {

  line-height: 35px;

}

.accordion .card .card-header a i {

  float: left;
  margin-right: 15px;
  margin-top: 10px;

}

a:focus, a:active {
  outline: 0 !important;
}

.login {
  padding: 8px 30px;
}

 .login input[type="text"], .login input[type="password"], .login select{
  background:#333;
  color:#fff;
  border:#000;
}

.login input::placeholder {

  color: #fff;
}

.login button{
  width: 100%;
  margin-top:10px;
  padding:0;
  margin-bottom: 10px;
}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active, .btn:active.focus, .btn:active, .btn:focus {
  outline: none;
}

footer p {
  font-size: 14px;
}


.login-info {
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 10px 2px;
  color:#f7f7f7;
}

.login-info p {
  margin-bottom: 0;
}


.popover-body a {
  color:#333;
}

.resources {
  font-size: 12px;
  margin-top: 0;
  line-height: 5px;
  margin-bottom: 0;
  height: 23px;

}


.centered{
  margin:0 auto;
}

.editbuttons{
  padding-left: 10px;
}

.fa-trash .editbuttons a{
  color:#ff0000;
}

.tooltip {
  z-index: 2000 !important;
}

.bluebg{
  background-color: #0086b3;
  color:#f7f7f7;
}

.logout-button{
  width:40px;
}

#ui-id-1 {
  z-index: 9999;
  position: fixed;
}

.color-primary{
  color: #007bff;
}

main {
  margin-top:90px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

@media screen and (max-width: 991px) {

  .patchuser {
    top: 50px !important;
  }
  main {
    margin-top:0;
  }

  header {
    position: relative;
  }
}

.ti-tag {
  background : #494c56 !important;
}

.vue-tags-input input {
  height: 20px !important;
}

.modal-dialog hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-bordered td, .table-bordered th {

  border-bottom-width: 1px;
  padding: 5px;

}

.mb-0 {
  padding: 5px 0;
}

.details {
  overflow: auto;
}

.table-error {
  background:#f9d7dc;
}

.table-updated{
  background: #d9f8ff;
}

.table-created{
  background: #d9ffe2;
}

.container-no-margintop{
  margin-top:-20px;
}

.collapse {
  border-bottom: 1px solid rgb(228, 234, 236);
}

.defs p , .infos {
  padding-left: 15px;
}

.card-body .defs {
  padding:10px;
}

.terminput{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.sticky-sidebar{
  position: sticky;

  top: 90px;

  align-self: flex-end;
}

.reset {
  background: none;

  border: none;
}

.navbar.navbar-inverse .nobg.nav-link:hover {
  background:none !important;
}


.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.nav-tabs {
  background: #215e7d !important;
  color: #fff;
  padding-top: 4px;
  padding-left: 10px;
}

.nav-tabs .nav-link:hover {

  background: #427D98;

}

.btn {
  height: unset;
}

.input-group .btn {
  margin: unset;
}

.form-control-newsletter {
  font-size: 13px;
}

.btn-ns {
  font-size: 17px;
  margin: 0;
  padding-left: 11px;
  padding-right: 11px;
}

html input[disabled]{
  height: 35px;
}

.modal {
  overflow: auto;
}

.centered.text-center.forgotpasswordlink, .centered.text-center.forgotpasswordlink:hover {
  border-left: 0;
  color: #f7f7f7;
}

input {
  margin: 0;
  height: unset;
}

.custom-file{
  height:unset;
}

.is-invalid {

  border-color: #dc3545;
}

.login input, .login select {

  margin-top: 5px;

}


