<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Columbia | be-ys</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css"/>
	<link rel="stylesheet" type="text/css" href="css/opensource.css"/>
	<link rel="stylesheet" type="text/css" href="css/fontawesome.css"/>
	<link rel="stylesheet" type="text/css" href="css/notifications.css"/>
</head>

<body>
<div class="container text-center ">
	<img src="/images/404.png" alt="not found"/>
	<h3><a href="/">Revenir à l'accueil</a></h3>
</div>


</body>
</html>
