<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Columbia | be-ys</title>
	<link rel="alternate" type="application/atom+xml" title="Columbia - Mises à jour" href="/api/feed"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css"/>
	<link rel="stylesheet" type="text/css" href="css/opensource.css"/>
	<link rel="stylesheet" type="text/css" href="css/fontawesome.css"/>
	<link rel="stylesheet" type="text/css" href="css/notifications.css"/>
	<script>
      const FRONT_URL = "[[${fronturl}]]";
      const MATOMO_ID = "[[${matomoId}]]";
	</script>

</head>

<body>
<div id="app" v-cloak>
	<header>
		<topmenu></topmenu>
	</header>

	<main>
		<div class="container">
			<div class="row">
				<div class="column  col-md-4 sticky-sidebar">
					<div class="col-md-12">
						<sidebar_modifs></sidebar_modifs>
					</div>
					<div class="col-md-12">
						<sidebar_stats></sidebar_stats>
					</div>
					<div class="col-md-12">
						<newsletter></newsletter>
					</div>
				</div>
				<div class="col-md-8">
					<div class="col-md-12">
						<router-view></router-view>
					</div>
				</div>
			</div>
		</div>
	</main>

	<foo id="footer"></foo>
</div>

<script src="js/libs/lodash.min.js"></script>
<script src="js/libs/vue.min.js"></script>
<script src="js/libs/vuex.js"></script>
<script src="js/libs/vue-router.js"></script>
<script src="js/libs/axios.min.js"></script>
<script src="js/libs/vuetags.js"></script>
<script src="js/libs/papaparse.min.js"></script>
<script src="js/libs/matomo.js"></script>
<script src="js/libs/vue-matomo.js"></script>
<script src="js/libs/notifications.js"></script>

<script src="js/starter.js"></script>
<script src="js/footerComponents.js"></script>
<script src="js/rgpdComponents.js"></script>
<script src="js/editComponents.js"></script>
<script src="js/importComponents.js"></script>
<script src="js/navbarComponents.js"></script>
<script src="js/adminComponents.js"></script>
<script src="js/searchComponents.js"></script>
<script src="js/sidebarComponents.js"></script>
<script src="js/newsletterComponents.js"></script>
<script src="js/userComponents.js"></script>
<script src="js/historyComponents.js"></script>
<script src="js/accountComponents.js"></script>
<script src="js/components.js"></script>

<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/alert.js"></script>
<script src="js/libs/dropdown.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/clippy.min.js"></script>
<script src="js/loader.js"></script>

</body>
</html>
